* {
    font-family: 'Montserrat';
    text-overflow: ellipsis;
    text-decoration: none;
    margin: 0;
    font-weight: 600;
    color: #3B4144;
}

button {
    background-color: transparent;
    border-style: none;
    color: #3B4144;
}

header {
    z-index: 1;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
}

    header:hover {
        background-color: rgba(255, 255, 255, 1);
    }

.header-icon {
    display: none;
    background-color: aliceblue;
}



.header-menu {
    display: flex;
    margin-top: 25px;
}

.menu-item:first-child {
    margin-left: 48px;
}

.menu-item {
    margin-right: 40px;
}

.item-link {
    text-decoration: none;
    letter-spacing: 0.0125em;
    font-size: 14px;
    line-height: 17px;
    color: #3B4144;
    opacity: 50%;
    transition: .2s;
}

.item-link:hover {
    opacity: 100%;
}

.item-link.active {
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    opacity: 100%;
}

.header-logo {
    margin-top: 25px;
}

.logo-image {
    width: 135px;
}



.header-user {
    margin-top: 21.5px;
    display: flex;
}

.icon-user {
    height: 24px;
    margin-bottom: 80%;
}

.btn-post {
    background-color: red;
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 131px;
    height: 32px;
    border-style: none;
    margin-left: 20px;
    border-radius: 30px
}

.btn-user {
    margin-left: 24px;
    display: flex;
}

.user-info {
    margin-right: 5px;
}

.info-name {
    text-align: right;
    font-weight: 600;
}

.info-class {
    opacity: 0.5;
    text-align: right;
}

.user-profile-pic {
    margin-right: 48px;
}



.main {
    padding-top: 130px;
    margin: 0 auto;
    width: 80%;
    height: 1500px;
}

.main-slider {
    position: relative;
    background-image: url(/images/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
    height: 390px;
}

.slider-caption {
    position:absolute;
    display: block;
    margin-left: 120px;
    bottom: 42.5%;
}

.caption-img-top {
    display: block;
    width: 340px;
    margin-bottom: 5px;
}

.caption-img-bottom {
    display: block;
    width: 340px;
}

.main-container {
    margin: auto;
    width: 67.5%;
}

.container-option {
    margin: 36px 0px 26px 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scrollbar-width: none;
    gap: 25px;
}

.option-link {
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: #3B4144;
    line-height: 27px;
    padding: 6px 36px;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.container-news {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.news-icon {
    height: 40px;
}

.news-label {
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #3B4144;
    line-height: 48px;
    margin-left: 20px;
}


.option-link.active {
    background-color: #198754;
    color: #fff;
}

.container-post {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

.post-big {
    width: 60%;
    margin-bottom: 20px;
    position: relative;
}

.button-like {
    position: absolute;
    top: 25px;
}

.like-image {
    height: 24px;
}

.post-image {
    width: 100%;
    position: relative;
}

.post-like {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 3;
}

.post-title {
    margin-bottom: 15px;

    p {
        letter-spacing: 0.0015em;
        font-size: 18px;
        margin-top: 16px;
        line-height: 27px;
        overflow: hidden;
    }
}

.post-details {
    display: flex;
    margin-bottom: 15px;

    p {
        color: #3B4144;
        font-size: 14px;
    }

    .category {
        color: #007882;
    }

    .date {
        opacity: 50%;
    }
}

.post-content {

    p {
        color: #3B4144;
        font-size: 16px;
        line-height: 28px;
        opacity: 50%;
    }
}

.container-small {
    width: 36%;
}



.video-body {
    display: flex;
    margin-bottom: 45px;
    gap: 15px;
    height: 400px;
}

.video-main {
    position: relative;
    overflow: hidden;
    width: 100%;

    .thumbnail {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }


    .play-button {
        background-color: #B2B2B2;
        border-radius: 48px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 36px;
            width: 36px;
        }
    }

    .linear-gradient {
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
    }

    .video-info {
        position: absolute;
        bottom: 0;
        width: 100%;

        .video-name {
            margin-left: 25px;
            margin-bottom: 5px;

            p {
                color: #FFFFFF;
                font-size: 18px;
                line-height: 27px;
            }
        }
    
        .video-details {
            display: flex;
            margin-left: 25px;
            margin-bottom: 20px;

            p {
                color: #FFFFFF;
                font-size: 15px;
                line-height: 22.5px;
                font-weight: 400;
            }

            span {
                color: #FFFFFF;
            }

            .date {
                opacity: 50%;
            }
        }
    }
}

.post-small {
    position: relative;

    .post-title {
        margin-bottom: 5px;
    }

    .post-details {
        p {
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.video-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .video-label {
        font-size: 18px;
        line-height: 27px;
    }

    a {
        font-size: 15px;
        line-height: 22.5px;
        margin-right: 10px;
    }
}

.container-video-side {
    width: 40%;
    overflow: scroll;
    overflow-x: hidden;
}

.video-side {
    width: 100%;
}

.thumbnail-side {
    position: relative;
    width: 100%;

    img {
        border-radius: 24px;
        width: 100%;
    }
}

.video-name-side p {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video-details-side {
    display: flex;

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
    }

    .date {
        opacity: 50%;
    }
}

.play-button-side {
    position: absolute;
    background-color: #B2B2B2;
    border-radius: 48px;
    margin: 0;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
       position: relative;
        height: 18px;
        width: 18px;
    }
}



.list-header {
    margin-bottom: 30px;
}

.list-post {
    width: 100%;
    max-height: 220px;
    min-height: 105.42px;;
    margin-bottom: 20px;
    display: flex;
}

.list-post-container {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.list-thumbnail {
    height: 100%;
    position: relative;

    .thumbnail {
        height: 100%;
    }

    button {
        position: absolute;
        top: 20px;
        right: 20px;

        img {
            height: 20px;
            width: 20px;
        }
    }
}

.list-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list-details {
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;

    p {
        color: #3B4144;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
    }

    .category {
        color: #007882;
    }

    .date {
        opacity: 50%;
    }
}

.list-text {
    line-height: 28px;
    font-weight: 400;
    opacity: 50%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.list-more {
    margin: 55px auto;
    line-height: 56px;
    text-align: center;
    width: 216px;
    border: 1.25px solid #3b4144;
    border-radius: 30px;
}

.footer {
    width: 100%;
    padding: 25px 0;
}

@media (max-width: 1024px) {
    .btn-post {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .header-logo-small {
        margin-top: 28px;
        margin-right: auto;
    }

    .header-menu-small {
        margin-top: 25px;
        margin-left: 44px;
        margin-right: 20px;
    }

    .logo-image-small {
        height: 18px;
    }

    .menu-icon-image-small {
        height: 24px;
    }

    .main {
        width: 90%;
    }

    .main-slider {
        height: 257px;
    }

    .slider-caption {
        display: none;
    }
}



@media (max-width: 768px) {
    .btn-user {
        margin-left: 7px;
    }

    .user-info {
        display: none;
    }

    .main-slider {
        height: 191px;
    }

    .main-container {
        width: 100%;
    }

    .container-post {
        flex-direction: column;
    }

    .post-big {
        width: 100%;


    }

    .container-small {
        width: 100%;
        display: flex;
        gap: 15px;
        overflow: hidden;
    }

    .video-body {
        flex-direction: column;
    }

    .container-video-side {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }

    .video-side {
        margin-right: 10px;
    }
}

@media (max-width: 376px) {
    .main-slider {
        height: 90.83px;
    }

    .container-small {
        flex-direction: column;
    }

    .list-post {
        flex-direction: column;
        margin-bottom: 15px;
    }
    
    .list-title-small{
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 10px;
    }

    .list-details-small {
        display: flex;
        margin-bottom: 15px;
        overflow: hidden;

        p {
            color: #3B4144;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
        }

        .category {
            color: #007882;
        }

        .date {
            opacity: 50%;
        }   
    }

    .list-title {
        display: none;
    }

    .list-details {
        display: none;
    }

    .list-thumbnail {
        width: 161px;
        height: 105.42px;
    }

    .list-text {
        font-size: 14px;
        line-height: 21px;
        -webkit-line-clamp: 4;
    }
}


@media (min-width: 1025px) {
    .header-menu-small {
        display: none;
    }

    .header-logo-small {
        display: none;
    }

    .btn-notif {
        display: none;
    }
}

@media (min-width: 377px) {
    .list-title-small {
        display: none;
    }
    
    .list-details-small {
        display: none;
        margin-bottom: 15px;
        overflow: hidden;
        p {
            color: #3B4144;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
        }
    
        .category {
            color: #007882;
        }
    
        .date {
            opacity: 50%;
        }
    }
}