* {
    font-family: 'Montserrat';
    margin: 0;
}

button {
    text-align: center;
    background-color: transparent;
    border-style: none;
}

header {
    z-index: 1;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
}

    header:hover {
        background-color: rgba(255, 255, 255, 1);
    }

.header-icon {
    display: none;
    background-color: aliceblue;
}



.header-menu {
    display: flex;
    margin-top: 25px;
}

.menu-item:first-child {
    margin-left: 48px;
}

.menu-item {
    margin-right: 40px;
    opacity: 50%;
    transition: .2s;
}

    .menu-item:hover {
        opacity: 100%;
    }

.item-link {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.0125em;
    font-size: 14px;
    line-height: 17px;
    color: #3B4144;
}

.item-link-active {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.0125em;
    font-size: 14px;
    line-height: 17px;
    color: #3B4144;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}

.header-logo {
    margin-top: 25px;
}

.logo-image {
    width: 135px;
}



.header-user {
    margin-top: 21.5px;
    display: flex;
}

.icon-user {
    height: 24px;
    margin-bottom: 80%;
}

.btn-post {
    background-color: red;
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 131px;
    height: 32px;
    border-style: none;
    margin-left: 20px;
    border-radius: 30px
}

.btn-user {
    margin-left: 24px;
    display: flex;
}

.user-info {
    margin-right: 5px;
}

.info-name {
    text-align: right;
    font-weight: 600;
}

.info-class {
    opacity: 0.5;
    text-align: right;
}

.user-profile-pic {
    margin-right: 48px;
}



.main {
    padding-top: 130px;
    background-color: burlywood;
    margin: 0 auto;
    width: 75%;
    height: 1500px;
}

.main-slider {
    position: relative;
    background-image: url(/images/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
    height: 390px;
}

.slider-caption {
    position:absolute;
    display: block;
    margin-left: 120px;
    bottom: 42.5%;
}

.caption-img-top {
    display: block;
    width: 340px;
    margin-bottom: 5px;
}

.caption-img-bottom {
    display: block;
    width: 340px;
}

.main-container {
    margin: 0 17.5%;
    height: 390px;
    background-color: blueviolet;
}




@media (max-width: 1024px) {
    .btn-post {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .header-logo-small {
        margin-top: 28px;
        margin-right: auto;
    }

    .header-menu-small {
        margin-top: 25px;
        margin-left: 44px;
        margin-right: 20px;
    }

    .logo-image-small {
        height: 18px;
    }

    .menu-icon-image-small {
        height: 24px;
    }

    .main {
        width: 90%;
    }

    .main-slider {
        height: 257px;
    }

    .slider-caption {
        display: none;
    }

    .main-container {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .user-info {
        display: none;
    }
}

@media (min-width: 1025px) {
    .header-menu-small {
        display: none;
    }

    .header-logo-small {
        display: none;
    }

    .btn-notif {
        display: none;
    }
}