* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

button {
    text-align: center;
}





header {
    height: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(30px);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
}

    header:hover {
        background-color: rgba(255, 255, 255, 1);
    }

.header-icon {
    display: none;
    background-color: aliceblue;
}



.header-menu {
    display: flex;
    margin-top: 25px;
}

.menu-item:first-child {
    margin-left: 48px;
}

.menu-item {
    margin-right: 40px;
    opacity: 50%;
}

.item-link {
    text-decoration: none;
    letter-spacing: 0.0125em;
    font-size: 14px;
    line-height: 17px;
    color: #3B4144;
}

.item-link-active {
    text-decoration: none;
    letter-spacing: 0.0125em;
    font-size: 14px;
    line-height: 17px;
    color: #3B4144;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}


.btn-logo {
    background-color: transparent;
    border-style: none;
}

.header-logo {
    margin-top: 25px;
}

.logo-image {
    width: 135px;
}



.header-user {
    margin-top: 21.5px;
    display: flex;
}

.btn-post {
    background-color: red;
    font-size: 14px;
    color: white;
    width: 131px;
    height: 32px;
    border-style: none;
    border-radius: 30px
}

.btn-user {
    background-color: transparent;
    border-style: none;
    margin-left: 24px;
    display: flex;
}

.user-info {
    margin-right: 5px;
}

.info-name {
    text-align: right;
}

.info-class {
    opacity: 0.5;
    text-align: right;
}

.user-profile-pic {
    margin-right: 48px;
}



.main {
    background-color: burlywood;
    margin: 0 auto;
    width: 75%;
    height: 1500px;
}
